<html>
    <head>
        <title>{% block title %}Default title{% end %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ '/favicon.ico' }}"/>
    </head>
    <body>

        <h1>Banjax Crowdsourcing System</h1>
            <form>
                <label><b>Email</b></label>
                <input type="email" placeholder="Enter Username" name="uname" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
            </form>

            <a href="foo">Link to foo</a>


            <div class="banjax_module_content">
                {% block content %}
                    <h1>FOO!</h1>
                    <h2>(motherfooer)</h2>

                    <p>
                        <a href="tint">Link to tint</a>
                    </p>
                {% end %}
            </div>
        
        {% include "Banjax/site_js.html" %}

        {% block js %} {% end %}
  </body>
</html>